.mainBox {
	border: 1px solid black;
	position: absolute;
   width: 1440px;
	height: 421px;
	left: 0px;
	top: 10px;

background: #FBEBD0;


}
.box1 {
	/* border: 1px solid black; */
	margin: auto;
	display: inline-block;
	margin: 50px 50px 0px 20px;
	box-sizing: content-box;
	height: 350px;
}

.box2{
	/* border: 1px solid black; */
	display: inline-block;
	height: 350px;
	margin: 50px 50px 0px 20px;

}
.box3{
	/* border: 1px solid black; */
	display: inline-block;
	margin: 50px 50px 0px 20px;

}
.box4{
	/* border: 1px solid black; */
	display: inline-block;
	margin: 50px 50px 0px 20px;

}
